body{
    margin:0;
    padding:0;
    background:#242424;
    font:14px 'Myriad Pro', Calibri, sans-serif;
    color:#f7f4f1;
}
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
.container{
    width:940px;
    padding:0 10px;
    margin:0 auto;
}
.main-navigation{
    float:left;
    width:720px;
    min-height:70px;
}
.user-block{
    float:right;
    width:140px;
    min-height:70px;
}
.site-header{
    margin-bottom:50px;
    background:#000;
}
.logo{
    width:368px;
    height:204px;
    margin:0 auto;
    margin-bottom:80px;
}
.features-item{
    float:left;
    width:300px;
    min-height:165px;
    margin-right:20px;
}
.features-item:last-child{
    margin-right:0;
}
.features{
    margin-bottom:85px;
}
.index-content{
    padding:50px 80px;
    margin-bottom:35px;
    background:#f2f2f2;
    color:#000;
}
.index-content-left{
    float:left;
    width:380px;
}
.index-content-right{
    float:right;
    width:300px;
}
.index-content:last-child{
    margin-bottom:0;
}
.site-footer{
    margin-top:65px;
    padding:60px 0 40px;
    background:#202020;
}
.footer-contacts{
    float:left;
    width:320px;
    margin-right:60px;
}
.footer-social{
    float:left;
    width:180px;
}
.footer-copyright{
    float:right;
    width:160px;
}
